@import "./_constants";

.segment {
  font-weight: bold;
  font-size: 13px;

  .highlight {
    color: $primary-color;

    .highlight-text {
      padding: 0;
      &:hover {
        background-color: yellow;
      }
    }
  }

  span {
    width: 100%;
  }

  .chunk-time {
    div {
      display: inline-block;

      p {
        display: inline-block;
        font-size: 10px;
        margin-left: 10px;
        color: $primary-color;
      }
    }

    button {
      margin: 0 2px 0 2px;
      text-decoration: none;
      padding: 2px 2px;
      border-radius: 3px;
    }

    .time-control {
      font-size: 0.8em;

      .inc-button {
        @include button-bg(#f2f2f2);
      }
      .dec-button {
        @include button-bg(#f2f2f2);
      }
    }

  }

  .text-box {
    width: 95%;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
  }
}

.edit-button {
  border-radius: 10px;
  @include button-bg(#f2f2f2);
}
