@import "./_constants";

.segment {
  background: #87ceeb;
  border-radius: 10px;
  border: 1px solid #45b3e0;
  padding: 5px;
  margin-top: 10px;
  min-height: 60px;
  font-weight: bold;
  font-size: 13px;
  text-align: left;

  .highlight {
    margin-top: 10px;
    color: black;
    padding: 5px 5px 5px 5px;
  }

  span {
    width: 100%;
  }

  .chunk-time {
    div {
      display: inline-block;

      p {
        display: inline-block;
        font-size: 10px;
        margin-left: 10px;
      }
    }

    button {
      margin: 0 2px 0 2px;
      text-decoration: none;
      padding: 2px 2px;
      border-radius: 3px;
    }

    .time-control {
      font-size: 0.8em;

      .inc-button {
        @include button-bg(#3498db);
      }
      .dec-button {
        @include button-bg(#e74c3c);
      }
    }

  }

  .text-box {
    width: 95%;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
  }
}

.edit-button {
  border-radius: 10px;
  @include button-bg(#f2f2f2);
}
