.App-header {
  background-color: #45b3e0;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  margin-left: 25px;
}

.transcription-input {
  width: 100%
}

input[type="submit"] {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: white;
  border: black 1px solid;
  border-radius: 5px;
  padding: 1em;
  font-weight: bold;
}
