.App-header {
  height: auto;
  padding: 20px;
  color: #663399;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #663399;
  margin: 1em 0;
  padding: 0;
}

.App-intro {
  margin-left: 25px;
  color: #663399;
}

.transcription-input {
  width: 100%
}

input[type="submit"] {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: white;
  border: black 1px solid;
  border-radius: 5px;
  padding: 1em;
  font-weight: bold;
}
